.fRAME {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}

.fRAMEParent {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}

.fRAMEParent {
  margin: 0;
  flex-direction: column;
  gap: 13px;
}
.addUserBtn {
  align-self: stretch;
  height: 100px;
  position: relative;
  border-radius: var(--br-7xs);
  background-color: var(--color-white);
}
.adminChild {
  width: 320px;
  height: 568px;
  position: relative;
  background-color: rgba(0, 0, 0, 0.68);
  display: none;
}
.div {
  position: relative;
  opacity: 0.3;
}
.wrapper {
  align-self: stretch;
  border-radius: var(--br-9xs);
  border: 1px solid var(--color-silver);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-8xs) var(--padding-3xs);
}
.div1 {
  position: relative;
  opacity: 0.3;
}
.container {
  align-self: stretch;
  border-radius: var(--br-9xs);
  border: 1px solid var(--color-silver);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-8xs) var(--padding-3xs);
}
.div2 {
  position: relative;
  opacity: 0.3;
}
.frame {
  align-self: stretch;
  border-radius: var(--br-9xs);
  border: 1px solid var(--color-silver);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-8xs) var(--padding-3xs);
}
.div3 {
  position: relative;
}
.frameDiv {
  align-self: stretch;
  border-radius: var(--br-9xs);
  background-color: var(--color-black);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-8xs) var(--padding-3xs);
  color: var(--color-white);
}
.admin,
.frameParent {
  flex-direction: column;
  justify-content: flex-start;
}
.frameParent {
  align-self: stretch;
  border-radius: var(--br-7xs);
  background-color: var(--color-white);
  display: none;
  align-items: flex-start;
  padding: var(--padding-mini);
  gap: var(--gap-3xs);
}
.admin {
  margin: 0 auto;
  width: clamp(300px, 100vw, 800px);
  background-color: var(--color-bisque);
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: var(--padding-xl) var(--padding-xl) 34px;
  box-sizing: border-box;
  gap: var(--gap-xl);
  text-align: center;
  font-size: var(--font-size-xs);
  color: var(--color-black);
  font-family: var(--font-ubuntu-condensed);
}

.back {
  margin-top: 20px;
  background-color: rgb(230, 100, 100);
  color: black;
  font-size: 16px;
  text-decoration: none;
  border-radius: 4px;
  padding: 6px;
}
